body {
  background-color: #FFFFFF;
  color:#000;
  font-family: "museo-sans", Helvetica, Arial, Verdana, sans-serif;
}


.header img {
  height: 600px !important;
  object-fit: cover;
  width: 100%;
}

ul {
list-style-type: circle;
}

.citylodge-bg {
  background-image: url(../img/view2.jpg);
  background-size: cover;
  background-position: 100% 54%;
  background-repeat: no-repeat;
}

.banner {
  background-color: #d9e2f1;
  font-size: 22px;
}

.banner p {
  font-size: 22px;
}

.bi {
  font-size: 40px;
}

.bitmaps img {
    height: 400px !important;
    object-fit: cover;
    width: 700px;
}

.bitmaps img:hover {
  transform: scale(1.1);
}

/* Links & Buttons */
    
.citylodge-link {
color: #004784;
text-decoration: none;
}

.citylodge-link:hover {
  color: #004784;
  text-decoration: underline;
}

.citylodge-btn {
  background-color: #004784;
  text-decoration: none;
  border: 2px solid #004784;
  color: white;
}

.citylodge-btn:hover {
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #004784;
  color: #004784;
}
    
/* Slider */

  .owl-item {
    height: 390px;
 }

    .testimonial {
      border-right: 2px solid #e7e5ea;
      border-left: 2px solid #e7e5ea;
      padding: 20px 20px;
      margin: 0px 10px 0px;
      min-height: 100%;
      }
      
  .testimonial .description{
      font-size: 16px;
      color: #020413;
      text-align: left;
      opacity: 0.8;
      }
    
    .pic img {
      height: 200px !important;
      object-fit: cover;
      width: 100%;
      margin-bottom: 5%;
}

.owl-theme .owl-controls .owl-page span{
    width: 32px;
    height: 10px;
    background: #fff;
    border: 2px solid #004784;
    margin: 5px;
    opacity: 1;
    }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #004784;
    border-color: #fff;
    }

@media only screen and (max-width: 650px) and (min-width: 400px){
    .testimonial:before{ border-right: 325px solid transparent; }
    .testimonial:after{ border-left: 325px solid transparent; }
    }


    /* Form */

    .form-field {
      background-color: #004784;
      }

     form input {
      background: #fff;
      border: 2px solid #f7f7f7;
  }
  
  form input:not([type="checkbox"]) {
      width: 99%;
      height: 45px;
  }
  
  form input[type="checkbox"] {
      margin-top: 0.4px!important;
      margin-right: 1%;
    }
  
  form label {
      display: none;
  }
  
  form .checkbox label{
  margin-bottom: auto !important;
  margin-top: auto !important;
  color: white !important;
  display: inline-block!important;
 }
  
  
.text,
.email,
.phone {
  width: 47%;
  margin-right: 1%;
}

form {
  display: flex;
  flex-wrap: wrap;
}


.text input,
.email input, 
.phone input {
  height: 50px;
  width: 100%;
  border: none;
  margin-bottom: 1rem;
  padding: 10px;
}
  
  form input:focus {
      border: 2px solid #f7f7f7;
      background: #fff;
      outline: 0;
  }
  
  form .button {
    background-color: white;
  color: #004784;
  margin-top: 5%;
  border-radius: 4px;
  border: 3px solid white !important;
  padding: 10px 110px;
  }
  
  form .button:hover {
     background-color: transparent;
      color: white;
      margin-top: 5%;
      border-radius: 4px;
      border: 3px solid white !important;
  padding: 10px 110px;
  }
  
.field.reseller_opt_in.checkbox{
  width: 100%;
  display: flex;
  margin-top: 1%;
  color: white;
  }


  @media screen and (max-width: 1200px) {
    form {
      display: inline-block;  
      } 
      
.text,
.email,
.phone {
width: 100%;
}
  }

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "museo-sans", Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 {
  font-size: 50px;
  line-height: 66px;
}

h2 {
  font-size: 36px;
  line-height: 53px;
}

h3 {
  font-size: 28px;
  line-height: 44px;
}

h4 {
  font-size: 22px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 34px;
    line-height: 48px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  h3 {
    font-size: 24px;
    line-height: 1.2;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1, h2, h3 {
  color: #004784;
}

@media screen and (max-width: 992px) {
  .bitmaps img:hover {
    transform: scale(1.0);
  }
  
  .btn {
    font-size: 14px;
  }
  
  .banner p {
    font-size: 21px;
  }
  }
  

@media screen and (max-width: 768px) {
.pic img {
  height: 225px !important;
  object-fit: cover;
  margin-bottom: 5%;
}

.banner p {
  font-size: 18px;
}
}

@media screen and (max-width: 425px) {
  .owl-item {
    height: 438px;
  }
}

